* {
  margin: 0;
  padding: 0;
}
.App-header {
  width: 100%;
  height: 330px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  > h1 {
    font-size: 4em;
    color: white;
  }
}

.latency-card {
  width: 400px;
  margin: 20px auto;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 12px;
}
